<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coaching Management System</title>
    <link rel="stylesheet" href="abc/fontawesome/css/all.css" />
    <link rel="stylesheet" href="abc/css/bootstrap.css" />
    <link rel="stylesheet" href="abc/css/style.css" />
    <link rel="stylesheet" href="abc/css/responsive.css" />
</head>

<body>
    <section class="nav-section">
        <header class="admin-panel">
            <nav class="nav-design">
                <div class="logo">
                    <h2>Vanila</h2>
                </div>
                <ul>
                    <li>
                        <a href="" class="btn-primary"><i class="fas fa-bell"></i></a>
                    </li>
                    <li>
                        <a href="/logout" class="n-btn"> Logout </a>
                    </li>
                </ul>
            </nav>
        </header>
    </section>

    <section>
        <div id="wrapper">
                 <!-- Sidebar -->
                 <div class="sidebar">
                    <ul>
                        <li>
                            <i class="fas fa-users"></i> <a href="/home"> Std Profile</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="/enroll_course">Enroll Course</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="/view_course" >View Course</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="/notes">Notes Download</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="/notice">View Notice</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="/result" class="ad-active">Check Results</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="/msg">Send Message</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="s_payment.html">Payment</a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i> <a href="s_pre_course.html">Pre. Course</a>
                        </li>
    
                    </ul>
                </div>
                <!-- Sidebar -->

            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h1 class="mt-5">Check Result</h1>
                            <div class="container">
                                <div class="row text-center  justify-content-center mr-lg-4">
                                    
                                        <table class="table table-striped">
                                            <thead>
                                              <tr class="table-col">
                                                <th scope="col">Result ID</th>
                                                <th scope="col">Exam Name</th>
                                                <th scope="col">Exam Type</th>
                                                <th scope="col">Marks</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var j=0; j < results.length; j++){%>
                                              <tr>
                                                
                                        
                                                    <td> <%=results[j].rid%></td>
                                                    <td> <%=results[j].examname%></td>
                                                    <td> <%=results[j].examtype%></td>
                                                    <td> <%=results[j].marks%></td>
                                                    
                                                    <% }%>
                                                <!-- <td><a href="s_review.html">Review </a></td> -->
                                              </tr>
                                            </tbody>
                                          </table>
                                   
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="abc/js/jquery.js"></script>
    <script src="abc/js/proper.js"></script>
    <script src="abc/js/bootstrap.js"></script>
</body>

</html>