<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coaching Management System</title>
    <link rel="stylesheet" href="abc/fontawesome/css/all.css" />
    <link rel="stylesheet" href="abc/css/bootstrap.css" />
    <link rel="stylesheet" href="abc/css/style.css" />
    <link rel="stylesheet" href="abc/css/responsive.css" />
</head>

<body>
    <section class="nav-section">
        <header class="admin-panel">
            <nav class="nav-design">
                <div class="logo">
                    <h2>Vanila</h2>
                </div>
                <ul>
                    <!-- <li>
                        <h5>raju</h5>
                    </li> -->
                    <li>
                        <a href="" class="btn-primary"><i class="fas fa-bell"></i></a>
                    </li>
                    <li>
                        <a href="/logout" class="n-btn"> Logout </a>
                    </li>
                </ul>
            </nav>
        </header>
    </section>

    <section>
        <div id="wrapper">
            <!-- Sidebar -->
            <div class="sidebar">
                <ul>
                    <li>
                        <i class="fas fa-users"></i> <a class="ad-active" href="/home"> Std Profile</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/enroll_course">Enroll Course</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/view_course">View Course</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="s_notes.html">Notes Download</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/notice">View Notice</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="s_check_results.html">Check Results</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="/msg">Send Message</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="s_payment.html">Payment</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i> <a href="s_pre_course.html">Pre. Course</a>
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
            <div id="content-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 ">
                            <h1 class="mt-5">Personal Info</h1>
                            <form action="" method="POST">
                                <div class="form-group">
                                    <label for="fullname">Full Name of Student:</label>
                                    <input type="text" class="form-control" id="fullname" placeholder="Enter Name"
                                    name="fname">
                                </div>
                                
                                <div class="form-group">
                                    <label for="SchoolCollege">Name of School/college:</label>
                                    <input type="text" class="form-control" id="SchoolCollege" placeholder="Enter school/college"
                                    name="sname">
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" 
                                    name="password">
                                </div>
            
                                <div class="form-group">
                                    <label for="SPhoneNumber">Phone Number</label>
                                    <input type="number" class="form-control" id="SPhoneNumber" placeholder="Phone Number"
                                    name="SPhoneNumber">
                                </div>
            
                                <input type="submit" value="Update" class="btn btn-success" >
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="abc/js/jquery.js"></script>
    <script src="abc/js/proper.js"></script>
    <script src="abc/js/bootstrap.js"></script>
</body>

</html>